.foot {
	width: 1400px;
	margin: auto;
	/*background: red;*/
	/*æµ‹è¯•*/
}


/* .foot_1>ul:nth-child(2),
.foot_1>ul:nth-child(3),
.foot_1>ul:nth-child(4) {
	margin-left: 280px;
} */

.foot_1>ul>li {
	padding: 15px 0px;
}

.foot_1>ul>li>a {
	text-decoration: none;
	color: #562419;
	font-weight: 100;
	font-size: 15px;
}

.foot_1>ul>li>a:hover {
	color: #FDD205;
}

.foot_1>ul>li:nth-child(1)>a {
	font-weight: 700;
}

/*尾部媒体查询*/
@media (max-width: 1600px) {
	.foot_1>ul{
		margin:0 113px;
		display: inline-block;
	}
}

@media (max-width: 1320px) {
	.foot_1>ul{
		margin:0 76px;
		display: inline-block;
	}
}

@media (max-width: 991px)and(min-width:991px) {
	.headpicture {
    height: 250px;
    margin: 40px 0px;
    background-size: 960px;
    width: 100%;
    }
    .foot_1>ul{
		margin:0 76px;
		display: inline-block;
	}
	.foot_1>ul:nth-child(4){
		margin:0 330px;
		margin-top: 30px;
	}
}
@media (max-width: 580px){
	.foot_1>ul{
		margin:0 50px;
		display: inline-block;
	}
	.foot_1>ul:nth-child(4){
		margin-top: 30px;
	}
} 
@media (max-width: 480px) {
	.foot_1>ul{
		margin:0 50px;
		display: inline;
	}
}
