/*-----------------------------------
	Navigation Bar Styles
------------------------------------*/

.navbar {
  padding: 45px 0;
  background-color: #fff;
  transition: padding 0.4s;
}


/* Contract the navbar while scrolling */

.navbar.scrolled {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  padding: 16px 0;
}

.navbar-nav>li>a>p {}

#myNavbar {
  overflow-x: hidden;
}

#myNavbar ul li:last-child a {
  padding-right: 0;
}

/* Brand name */

.brandStyle {
  color: #487b83 !important;
  font-family: Cabin, sans-serif;
  font-size: 24px;
}

.brandStyle>img {
  width: 80px;
  height: 80px;
  margin-top: -25px;
}

/* Menu */

.menustyle {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}


/*-----------------------------------
	Main Picture 
------------------------------------*/

.headpicture {
  background: url(../img/banner.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
}


/*-----------------------------------
		Text
------------------------------------*/

/* Titles */
/*-----------------------------------
	Media querries
------------------------------------*/

/* On smaller screens */

@media (max-width: 992px) {

  /* General */

  body {
    padding-top: 76px;
  }

  li {
    padding-left: 8px;
  }

  h1 {
    margin-top: 80px;
  }

  /* Navigation bar */

  .navbar {
    padding: 16px 0;
  }

  /* Main picture */

  .headpicture {
    height: 250px;
    margin-top: 40px;
  }

  /* Latest Projects */

  .textStyle {
    margin-top: 40px;
  }

  .titleStyle {
    margin-top: 70px;
  }

  /* Footer */

  .footer {
    margin: 40px auto;
  }

  #footerLogoText {
    text-align: center;
  }

  /* Sharing buttons */

  .responsiveAlign {
    text-align: center;
    padding: 5px;
  }

}

/* On bigger screens */

@media (min-width: 993px) {

  /* Sharing buttons */

  .responsiveAlign {
    float: right;
  }
}

/*增图片旋转开始*/
.demo {
  padding: 2em 0;
}

.box {
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  overflow: hidden;
}

.box:before {
  content: '';
  background: linear-gradient(45deg, rgba(103, 178, 111, 0.6), rgba(76, 162, 205, 0.6));
  height: 100%;
  width: 260px;
  opacity: 0;
  filter: blur(10px);
  transform: scale(1) rotate(180deg);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  transition: all 0.4s ease-in-out;
}

.box:hover:before {
  box-shadow: 0 0 10px 2px #555;
  opacity: 1;
  filter: blur(0);
  transform: scale(0.92, 0.9) rotate(0);
}

.box img {
  width: 260px;
  height: auto;
  transition: all 0.5s ease-in-out;
}

.box:hover img {
  transform: scale(1.9) rotate(45deg);
}

.box .box-content {
  color: #fff;
  text-align: center;
  width: 260px;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) scale(3);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transition: all 0.5s ease;
}

.box:hover .box-content {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1);
}

.box .title {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}

.box .post {
  font-size: 16px;
  text-transform: capitalize;
}

.box .icon {
  padding: 0;
  margin: 0;
  list-style: none;
  filter: blur(10px);
  transform: scale(0);
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  transition: all 0.5s ease 0.2s;
}

.box:hover .icon {
  transform: scale(1);
  filter: blur(0);
}

.box .icon li {
  display: inline-block;
}

.box .icon li a {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  height: 40px;
  width: 40px;
  margin: 0 3px;
  display: block;
  position: relative;
  transition: all 0.3s;
}

.box .icon li a:hover {
  text-shadow: 0 0 6px #555;
  box-shadow: 0 0 5px #555;
}

@media only screen and (max-width:990px) {
  .box {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width:479px) {
  .box .title {
    font-size: 20px;
  }
}

/*增图片旋转结束*/
/*增logo*/
/*@media (min-width: 992px)
.headpicture {
    .brandStyle>img {
    width: 50px;
    height: 50px;
    margin-top: -25px;
	}
}*/
/*增logo*/